:where([class*="og-layout"]):not(.og-layout-app) {
  display: grid;
  max-height: 66vh;
  aspect-ratio: var(--ratio-widescreen);
  column-gap: var(--size-3);
  padding: var(--size-3);
  background: var(--gradient-1);
  > * {
    position: relative;
    color: white;
    outline: var(--border-size-2) dashed var(--red-8);
    outline-offset: calc(var(--border-size-2) * -1);
  }
}
[data-grid-area="header"] {
  grid-area: header;
  padding: var(--size-3);
}
[data-grid-area="main"] {
  grid-area: main;
}
[data-grid-area="aside"] {
  grid-area: aside;
}
[data-grid-area="footer"] {
  grid-area: footer;
  padding: var(--size-3);
}
.og-layout-1 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:  1fr minmax(0, 1fr);
  grid-template-areas:
  "main main main main aside"
  "footer footer footer footer footer";
}

.og-layout-2 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "main main main main aside"
  "footer footer footer footer aside";
}

.og-layout-3 {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

:where(.og-source) {
  background-color: var(--green-8);
  display: grid;
  place-items: center;
}

:where([data-aspect-ratio="16-9"]) {
  aspect-ratio: var(--ratio-widescreen);
}
:where([data-aspect-ratio="3-4"]) {
  aspect-ratio: var(--ratio-portrait);
}
:where([data-aspect-ratio="1"]) {
  aspect-ratio: var(--ratio-box);
}
:where(.og-flex) {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}
:where(.og-justify-center) {
  justify-content: center;
}
:where(.og-flex-vertical) {
  display: flex;
  flex-direction: column;
}
:where(.og-space-between) {
  justify-content: space-between;
}
:where(.og-grid) {
  display: grid;
  gap: var(--size-3);
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, calc(33% - var(--size-3) / 2 + 1px)));
}
iframe {
  border: 0;
  position: absolute;
  bottom: 0;
}